.homeWorkTable {
    word-wrap: break-word;
}

.homeWorkTable td {
    padding: 5px;
    border-radius: 0px;
    white-space: normal;
}

.homeworkTableDate {
    border: 1px solid;
    border-left: none;
    border-right: none; 
}

.homeworkTableData {
    background-color: #f0f0f020;
}
