.homeWorkTable td {
    padding: 2px;
    border: none;
    border-radius: 0px;

    border-bottom: 1px solid;
    border-right: 1px solid;

    width: 10%;
}

.homeWorkTable tr {
    height: 16px;
    /*border-bottom: 1px solid #dddddd;*/
}

.homeWorkTable tr:nth-of-type(even) {
    background-color: #f0f0f020;
}


.homeWorkTable input[type="checkbox"] {
    
}