.inboxTable {
    width: 100%;
    word-wrap: break-word;
}

.inboxTable td {
    padding: 5px;
    border-radius: 0px;
    white-space: normal;
}

.inboxTableHeader {
    border: 1px solid;
    border-left: none;
    border-right: none; 
}

.inboxTableContent {
    background-color: #f0f0f020;
}
