.bottomNavBar {
	background-color: #333;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: none;
}

.bottomNavBarButton img {
    height: 1em;
}

.infoText {
    display: none;
    position: fixed;
    bottom: 0px;
}
