.bottomNavBar {
    height: 100%;
    width: fit-content;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1b1a1a;
    overflow-x: hidden;
    display: none;
    padding:0;
    margin: 0;
}

.bottomNavBar li:nth-child(1) button {
    background-color: #363062;
}
.bottomNavBar li:nth-child(1) button:hover {
    background-color: #363062aa;
}

.bottomNavBar li:nth-child(2) button {
    background-color: #435585;
}
.bottomNavBar li:nth-child(2) button:hover {
    background-color: #435585aa;
}

.bottomNavBar li:nth-child(3) button {
    background-color: #818FB4;
}
.bottomNavBar li:nth-child(3) button:hover {
    background-color: #818FB4aa;
}

.bottomNavBar li:nth-child(4) button {
    background-color: #80b597;
}
.bottomNavBar li:nth-child(4) button:hover {
    background-color: #80b597aa;
}

.bottomNavBar li:nth-child(5) button {
    position: absolute;
    bottom: 3em;
    background-color: #384378;
}
.bottomNavBar li:nth-child(5) button:hover {
    background-color: #384378aa;
}

.bottomNavBar li:nth-child(6) button {
    position: absolute;
    bottom: 0;
    background-color: #AF1740;
}
.bottomNavBar li:nth-child(6) button:hover {
    background-color: #AF1740aa;
}

.bottomNavBar li button img {
    min-width: 2em;
    min-height: 2em;
}

.infoText {
    display: none;
    position: fixed;
    bottom: 0px;
}
