* {
    padding: 0px;
    margin: 0px;
    z-index: 0;
    font-family: 'Ubuntu Mono';
    user-select: none;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1em;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
    background-color: #3d7395;
}


input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #3498db;
	background: rgba(#3498db, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #3498db;
    margin-bottom: 0.2em;
}

input[type=password] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #3498db;
	background: rgba(#3498db, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #3498db;
    margin-bottom: 0.2em;
}

body {
    background-color: #252525;
    color: wheat;
}

.thinCell {
    width: 32px;
}

table, th, td {
    border-radius: 5px;
    text-align: center;
}

.bigPanel {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1b1a1a;
    overflow: hidden;
}
