* {
    padding: 0px;
    margin: 0px;
    z-index: 0;
    font-family: 'Roboto';
    user-select: none;
    /*overflow: hidden;*/
    /*font-size: 13px;*/
}

button {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: 0.3s;
    
    font-size: 13px;
}

button:hover {
    background-color: #3d7395;
}

input[type=text] {
    appearance: none;
    border: none;
    outline: none;
    background: rgba(#3498db, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #3498db;
    margin-bottom: 0.2em;

    font-size: 13px;
}

input[type=password] {
    appearance: none;
    border: none;
    outline: none;
    background: rgba(#3498db, .2);
    border-radius: .2em .2em 0 0;
    padding: .4em;
    color: #3498db;
    margin-bottom: 0.2em;

    font-size: 13px;
}

input[type="color"] {
    width: 5em;
    height: 5em;
}

body {
    background-color: #121212;
    color: white;
}

.bigPanel {
    position: fixed;

    height: 100vh;
    width: 100vw;
    
    background-color: #121212;
    overflow: hidden;
}

.indentedPanel {
    position: fixed;
    
    height: 100vh;
    
    margin-left: 2.5em;
    width: calc(100vw - 2.5em);
    
    background-color: #121212;
    overflow: hidden;
}
