.TimeTable {
    width: 100vw;
    height: 96.5vh;

    font-size: 13px;
}

.TimeTable tr :nth-child(1) {
    width: 2%;
    max-width: 2%;
}

.TimeTable tr :nth-child(2) {
    width: 2%;
    max-width: 2%;
}

.TimeTable tr :nth-child(3) {
    width: 19.2%;
    max-width: 19.2%;
}

.TimeTable tr :nth-child(4) {
    width: 19.2%;
    max-width: 19.2%;
}

.TimeTable tr :nth-child(5) {
    width: 19.2%;
    max-width: 19.2%;
}

.TimeTable tr :nth-child(6) {
    width: 19.2%;
    max-width: 19.2%;
}

.TimeTable tr :nth-child(7) {
    width: 19.2%;
    max-width: 19.2%;
}

@media screen and (min-width: 500px) {
    .timeTableElement {
	overflow: hidden;
	text-overflow: ellipsis;
	
	color: black;
	border-left: 10px solid rgba(100, 100, 100, .2);
	
	padding: 2px;

	font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .timeTableElement {
	overflow: hidden;
	text-overflow: ellipsis;
	
	color: black;
	border-left: 10px solid rgba(100, 100, 100, .2);
	
	padding: 2px;
	
	height: 64px;
	width: 64px;
	
    }
}

.roomChange {
    min-width: 100%;
    background-color: #7a8fb5;
}

.cancelled {
    text-decoration: line-through;
    background-color: #FF9B9B;
}

.irregular {
    background-color: #FFD478;
    cursor: pointer;
}

.sup {
    background-color: #FFD1E3;
}

.free {
    background-color: #7a8fb5;
}

.err {
    background-color: #FF0000;
}

.default {
    background-color: #B2E672;
}
