.thinCell {
    width: 32px;
    padding: 2px;
}

.timeTableElement {
	overflow: hidden;
	text-overflow: ellipsis;
	
	color: black;
	max-width: 5em;
	max-height: 2.5em;
	border-left: 10px solid rgba(100, 100, 100, .2);
	padding: 2px;
}

.cancelled {
	text-decoration: line-through;
	background-color: #FFFD88;
}

.irregular {
	background-color: #FFD478;
}

.sup {
	background-color: #F96B85;
}

.err {
	background-color: #FF0000;
}

.default {
	background-color: #B2E672;
}